<form method="post" action="{{ path('association_delete', {'id': association.id}) }}" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ association.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
