{{ form_start(form, {'attr':{'class':'form-group'}}) }}
<div class="row justify-content-center">
    <div class="col-12">
        {{ form_widget(form) }}
    </div>
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
