{% extends 'base.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block body %}
    {% include 'admin/_navbar.html.twig' %}
    <h1>Edit Association</h1>

    {{ include('association/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('association_show') }}">Retour à l'affichage des contenus</a>

{% endblock %}
