{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    {% include 'admin/_navbar.html.twig' %}
    {% include 'admin/_header.html.twig' %}
    <div class="admin-content position-absolute text-center">
        <a class="btn btn-primary" href="{{ path('event_index') }}">Retour</a>
        <div class="row justify-content-center">
            {{ include('event/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
