{% extends 'base.html.twig' %}

{% block title %}Club trail et triathlon Blois - Mot de passe oublié{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row((form.email)) }}

        <button class="btn btn-primary" type="submit">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form) }}


{% endblock %}