{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - GTB{% endblock %}

{% block body %}
    <section class="reset-password">


        {% include '_navbar.html.twig' %}
        {{ form_start(form) }}

        <div class="container">


            <div class="row rox-poney-password justify-content-center pt-5">
                <div class="card w-75 card-reset">

                    <div class="card-body">
                        <h1>Mot de passe oublié</h1>
                        <p class="card-text pt-5">Veuillez saisir votre email avec lequel vous vous êtes inscrit. Vous recevrez
                            sur
                            cette boîte un email avec un
                            lien pour changer votre mot de passe.</p>

                        {{ form_row((form.email)) }}

                        <div class="row row-button-forgotten-password justify-content-center pt-5 pb-5">
                            <button class="btn btn-primary" type="submit">{{ button_label|default('Envoyer') }}</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        {{ form_end(form) }}
        {% include '_footer.html.twig' %}

    </section>

{% endblock %}