<div class="club pt-5">
    <h2 class="title-club text-center">LE CLUB</h2>
    <div class="about-us container pt-5">
        {% if association.clubHome is defined %}
            <p class="text-center">{{ association.clubHome|raw }}</p>
        {% else %}
            <p class="text-center">La section est en cours de construction</p>
        {% endif %}
    </div>
</div>

