<div class="homepage-images flex-row position-relative text-center mb-5">
    <div class="row homepage-picture">
        {% for picture in pictures %}
            <div class="col-lg-4 col-md-6 col-sm-12 images-index">
                <img src="{{ asset('uploads/images/gallery/' ~ picture.imageName) }}" alt="{{ picture.alt }}">
            </div>

        {% endfor %}
    </div>
    <div class="row btn-homepage-picture">
         <div class="col ">
            <a href="#" class="btn btn-primary">Voir plus de photos de notre club</a>
        </div>
    </div>
</div>
