<section class="py-5 homepage-images">
    <h2 class="text-center text-white my-5">Galerie photo</h2>
    <div class=" flex-row position-relative text-center">
        <div class="row homepage-picture no-gutters">
            {% for picture in pictures %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ">
                    <img src="{{ asset('uploads/images/gallery/' ~ picture.imageName) }}" class=""
                         alt="{{ picture.imageName }}.">
                </div>
            {% endfor %}
        </div>
        <div class="row btn-homepage-picture">
            <div class="col ">
                <a href="{{ path('galery') }}" class="mt-5 btn btn-primary"><i class="fas fa-plus"></i> Plus de photos</a>
            </div>
        </div>
    </div>
</section>
