<div class="cont-jumbotron">
    <img class="img-jumbotron img-fluid pt-5 pt-lg-5" src="{{ asset('build/images/header-site-gtb.jpg') }}" alt="trail-triathlon-blois">
    <h1 class="title-jumbotron"><i class="fas fa-map-marker"></i> Generation Trail et Triathlon Blois</h1>
</div>

