<div class="cont-jumbotron">
    <img class="img-jumbotron img-fluid pt-5 pt-lg-5" src="{{ asset('build/images/jumbotron00-min.png') }}" alt="trail-triathlon-blois">
    <h1 class="title-jumbotron"><i class="fas fa-map-marker"></i> Génération Trail & Triathlon Blois</h1>
</div>

