<div class="jumbotron cont-jumbotron position-relative row">
    <div class="col-12">
        <div class="logo-container position-absolute row justify-content-end align-items-center">
            <div class="col-6">
                <h1 class="title-jumbotron mr-0 mr-lg-3 text-right"><i class="fas fa-map-marker"></i> Generation Trail et Triathlon Blois</h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100 border-jumbotron"></div>

