<div id="trail" class="flex-row position-relative">
    <h2 class="">Trail</h2>
    <img src="{{ asset("build/images/WP_20170924_12_16_46_Rich.jpg") }}" class="backtrail" alt="trail">
    <div class="row position-absolute justify-content-center">
        <div class="col-6 left">
            <img src="{{ asset('build/images/GTB-Blanc@2x.png') }}" class="logo" alt="logo gtb">
        </div>
        <div class="col-6 right">
            <div class="text-trail">
                <p>
                    {{ association.trailhome }}
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
</div>