<div id="trail" class="flex-row position-relative trail">
    <img src="{{ asset("build/images/WP_20170924_12_16_46_Rich.jpg") }}" class="back" alt="trail">
    <div class="row position-absolute justify-content-center">
        <h2 class="">Trail</h2>
        <div class="row">
            <div class="col cont-logo text-center">
                <img src="{{ asset('build/images/GTB-Blanc@2x.png') }}" class="logo" alt="logo gtb">
            </div>
            <div class="col text-center">
                <p>
                    {{ association.trailHome }}
                </p>
                <a href="{{ path('trail') }}" class="btn btn-primary">Le trail</a>
            </div>
        </div>
    </div>
</div>