<div class="flex-row position-relative triathlon">
    <img src="{{ asset("build/images/GTB-14.jpg") }}" class="back" alt="trail">
    <div class="cont-absolute position-absolute">
        <div class="col-12 trititle m-lg-4">
            <h2>Triathlon</h2>
        </div>
        <div class="col-12  row flex-lg-row-reverse">
            <div class="col-sm-12 col-lg-4 cont-logo text-center">
                <img src="{{ asset('build/images/GTriB-Blanc@0.5x.png') }}" class="logo" alt="logo gtb">
            </div>
            <div class="col-sm-12 col-lg-8 text-center">
                {% if association.triathlonHome is defined %}
                <p>{{ association.triathlonHome|raw }}</p>
                <a href="{{ path('triathlon') }}" class="btn btn-primary">Le triathlon</a>
                {% else %}
                    <div class="row justify-content-center">
                        <p>La section est en cours de construction</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>