{% extends 'base.html.twig' %}

{% block title %}Le trail - GTB{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    {{ include ('home/_jumbotron.html.twig') }}
    <h2 class="text-center">Le Trail</h2>
    <div class="text">
        {{ association.trailcontent }}
    </div>
    {% include '_footer.html.twig' %}
{% endblock %}
