/***Colors***/

$trail-primary-color: rgb(229, 93, 54);
$trail-secondary-color-nav: rgba(97, 97, 97, .6);
$trail-secondary-color: rgba(242, 242, 242, 1);
$fond-color: rgb(230, 231, 233);
$fond-color-light-bg: rgba(97, 97, 97, 1);


/***Fonts***/
$text-font: "Ubuntu";
$title-font: "stadium";
$title-font-ext: "ttf";

/***Margins***/
$sectionPadding: 8%;