/***Colors***/

$trail-primary-color: rgb(229, 93, 54);
$trail-secondary-color: rgb(0, 0, 0);
$fond-color: rgb(230, 231, 233);

/***Fonts***/
$text-font: "Ubuntu";
$title-font: "Dusha";
$title-font-ext: "ttf";