@import "vars.scss";
@import 'mixins.scss';
@import "functions";

@font-face {
  font-family: "#{$title-font}";
  src: url('../fonts/#{$title-font}.#{$title-font-ext}');
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/***General styles***/

main.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/***Buttons***/

%btn-primary-outline {
  border: 1px solid $trail-primary-color;
  background-color: transparent;
  color: $trail-primary-color;
  border-radius: 5px;
}

%btn-primary {
  background-color: $trail-secondary-color;
  color: $trail-primary-color;
  border-radius: 5px;
}

/***NAVBAR***/

nav {
  background-color: lighten($trail-secondary-color, 60);
  float: left;

  .content {
    a {
      text-align: center;

      .fas, .far {
        margin: auto;
        color: $font-color;
        font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;

        &:hover {
          color: $trail-primary-color;
          transition: all .3s;
        }
      }
    }
    a i.active {
      color: $trail-primary-color;
    }

    .text {
      font-size: 0.75rem;
      color: $font-color;
      margin: auto;
    }
  }
}

nav.col-md-2 {
  max-width: 13.7%;
}

/***HEADER***/

.header.row {
  min-height: 25vh;
  margin: auto 0;

  .heading-text {
    font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .fa-user {
    padding: 10px;
    border: 1px solid $trail-primary-color;
    border-radius: 50%;

    &:hover {
      color: lighten($trail-primary-color, 30);
      border: 1px solid lighten($trail-primary-color, 30);
      transition: all .3s;
    }
  }

  p {
    color: lighten($trail-secondary-color, 60);

    i {
      font-size: 0.75rem;
    }
  }
}

.header.col-md-10, .header.col-10 {
  max-width: 86.3%;
}


/***Tableau de Bord***/

html, body {
  background-color: lighten($font-color, 7);
}

.body-dashboard.row {
  margin: auto 0;

  .card.card-dashboard {
    min-height: 13rem;

    span {
      right: 1rem;
      top: 1rem;

      .far {
        color: $trail-primary-color;
      }
    }

    .card {
      background-color: transparent;
      border: none;

      h5.card-title {
        font-family: $text-font;
      }
    }
  }
}

.admin-content {
  top: 12em;
  width: 85%;
  left: 15%;
  h2, h3, h4, h5, h6 {
    font-family: $text-font;
  }

  a, button {
    font-size: 14pt;
    margin-bottom: 2em;
  }
  textarea {
    width: 75%;
  }
}

.panel-heading {
  font-size: 12pt;
  .note-btn {
    background-color: $font-color;
  }
}
.popover {
  display: none;
}

  .card {
    width: 18em;
    .card-img-top {
      overflow: hidden;
    }
    img {
      max-width: 18rem;
      object-fit: cover;
    }
  }

  .btn {
    margin: 5px;
  }

/***Page Accueil***/

.body-page-home {
  .nav-page-home {
    background-color: transparent;
    .nav-item .nav-link.active {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .contents .logo-gallery {
    height: 400px;
    overflow-y: scroll;
    .card {
      border: none;
      span {
        right: 6%;
        top: 4%;
        a .fas {
          color: $trail-primary-color;
          &:hover {
            cursor: pointer;
            color: $font-color;
          }
        }
      }
    }
  }
}

form.sponsor-form {
  .form-group {
    margin-bottom: 0;
  }
  fieldset small {
    font-style: italic;
    padding-left: 2%;
  }
}

.logo-gallery .card-img {
  background-color: transparent;
  .card-img-top {
    overflow: hidden;
  }

}


