@import "~bootstrap/scss/bootstrap";
@import "vars.scss";
@import 'mixins.scss';
@import "functions";


/***General styles***/

main.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


/***Visiter Navbar***/

.fa-user {
  color: $trail-primary-color;
  font-size: 1.4vw;
}

main {
  .navbar {
    padding: 0;
    background-color: $trail-secondary-color;
    .navbar-brand {
      padding: 0;
      margin: 0;
      img {
        max-width: 120px;
        padding: 0;
        margin-right: 0;
      }
    }
    .collapse .navbar-nav .nav-home {
      width: 13.5vw;
      @include medium {
        width: 100vw;
      }
      &:nth-child(-n+6) {
        border-right: 0.5px solid darken($fond-color, 50);
        @include medium {
          border-right: none;
        }
      }
      &:nth-child(1) {
        border-left: 0.5px solid darken($fond-color, 50);
        @include medium {
          border-left: none;
        }
      }
    }
    .active {
      background-color: $trail-primary-color;
    }
    .navbar-nav .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2vw;
      font-family: $text-font;
      @include medium {
        font-size: 2vw;
      }
      @include small {
        font-size: 3vw;
      }
      &:hover {
        background-color: $trail-primary-color;
        transition: all .6s;
      }
    }
  }
}
