@import "~bootstrap/scss/bootstrap";
@import "_vars.scss";
@import 'mixins.scss';
@import "functions";


/************************************
            GENERAL STYLES
************************************/

.row {
  margin-left: 0;
  margin-right: 0;
}

@font-face {
  font-family: "#{$title-font}";
  src: url('../fonts/#{$title-font}.#{$title-font-ext}');
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
}

p {
  font-family: $text-font;
}


/************************************
            BUTTONS
************************************/

%btn-primary-outline {
  border: 1px solid $trail-primary-color;
  background-color: transparent;
  color: $trail-primary-color;
  border-radius: 5px;
  height: 35px;
  width: 145px;
  &:hover {
    @extend %btn-primary;
  }
}

%btn-primary {
  background-color: $trail-primary-color;
  color: $font-color;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 145px;
  &:hover {
    @extend %btn-primary-outline;
  }
}


/************************************
            VISITER NAVBAR
************************************/

.fa-user, .fas.fa-map-marker, .fa-user-check {
  color: $trail-primary-color;
  font-size: 1.5vw;
}

.member-picture {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 2rem;
}

.navbar {
  padding: 0;
  background: $trail-secondary-color-nav;

  .navbar-brand {
    padding: 0;
    margin: 0;

    img {
      max-width: 120px;
      padding: 0;
      margin-right: 0;
    }
  }

  .collapse .navbar-nav .nav-home {
    width: 13.5vw;
    @include medium {
      width: 100vw;
    }
  }

  li.active.nav-item.nav-home {
    background-color: $trail-primary-color;
  }

  .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2vw;
    font-family: $text-font;
    @include medium {
      font-size: 2vw;
    }
    @include small {
      font-size: 3vw;
    }

    &:hover {
      background-color: $trail-primary-color;
      transition: all .6s;
      color: $font-color;
    }
  }
}


/************************************
            JUMBOTRON
************************************/

.cont-jumbotron {
  background-image: url('../images/header-site-gtb.jpg');
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: calc(25px + (350 - 25) * ((100vw - 300px) / (1600 - 300)));
  margin: 0;
  border-bottom: $trail-primary-color solid 5px;
  border-radius: 0;

  .title-jumbotron {
    font-size: 3rem;
    @include medium {
      display: none;
    }

    @include small {
      display: none;
    }
    color: white;
    font-family: $title-font;
  }

  .logo-container {
    bottom: 20%;
    right: 5%;

    .logo-link {
      text-align: right;
    }
  }
}

.border-jumbotron {
  background: linear-gradient(to right, $trail-primary-color, $trail-secondary-color);
  height: 5px;
}


/************************************
            EVENTS SECTION
************************************/

.events {
  .main {
    .card.card-event-to-come {
      .card-header {
        max-height: 250px;
        img {
          max-height: 250px;
        }
      }
      .btn.btn-primary {
        @extend %btn-primary;
      }
    }
  }
}


/************************************
            CLUB SECTION
************************************/

.club {
  background-color: lighten($font-color-light-bg, 50);
  font-family: $text-font;
  color: $trail-secondary-color;
  padding-bottom: $sectionPadding;

  .title-club {
    font-family: $title-font;
    color: $trail-primary-color;
    font-size: calc(2vw + 6 * ((100vw - 320px) / 680));
    padding-top: $sectionPadding - 5;
  }

  .border-sponsors {
    width: 10%;
  }
}


/************************************
      TRAIL & TRIATHLON SECTION
************************************/

.trail {
  border-bottom: $trail-primary-color solid 5px;
}

.trititle {
  width: 100%;
  text-align: center;
}

.triathlon, .trail, .cont-absolute {
  overflow: hidden;
  max-height: 500px;

  h2 {
    color: $font-color;
    font-family: $title-font;
  }

  p {
    font-family: $text-font;
    color: $font-color;
  }

  .row {
    width: 100vw;
  }

  .back {
    width: 100%;
    z-index: 0;
    filter: brightness(50%);
    max-height: 500px;
    object-fit: cover;
  }
  .cont-absolute {
    top: 25%;
    right: 0;
  }
  .logo {
    width: 15vw;
  }
}



/************************************
      HOME FORM SECTION
************************************/

.contact-form {
  margin: auto;
  float: none;

  h2 {
    text-align: center;
  }
  .input-group-prepend .fas {
    color: $trail-primary-color;
  }
  .btn.btn-primary {
    @extend %btn-primary;
  }
}


/************************************
            HOME GALLERY
************************************/

.homepage-images {
  .btn-homepage-picture {
    left: 42vw;
    margin-top: -70px;
    z-index: 1;
  }

  .images-index {
    overflow: hidden;
    padding: 0;
  }

  .col-4 {
    img {
      object-fit: cover;
      max-width: 40vw;
    }
  }
}


/************************************
         SPONSORS SECTION
************************************/

section.sponsors {
  padding-bottom: $sectionPadding;
  width: 100vw;

  .title-cont h2 {
    font-family: $title-font;
    text-transform: uppercase;
    padding-top: 10%;
  }

  hr.border-sponsors {
    border: 1px solid $trail-primary-color !important;
    width: 10%;
  }
}

/**********CAROUSEL**********/

#eclipse5 .eclipse-slides {
  opacity: 0.5;
}
#eclipse5 .eclipse-active-2 {
  opacity: 1;
}

.eclipse-wrapper {
  position: relative;
}
.eclipse-wrapper button {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.eclipse-hide {
  display: none !important;
}

.eclipse-slider {
  transition: all 500ms;
}
.eclipse-slides {
  height: 300px;
  border-radius: 15px;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
  color: #000000;
  z-index: 1;
}
.eclipse-slides img {
  max-width: 90%;
}
.eclipse-active {
  z-index: 10;
}

.eclipse-clone {
  z-index: 0 !important;
}

.eclipse-arrow {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 11;
  width: 21px;
  height: 35px;
  margin: -18px 0 0;
  background: url('../images/arrow.png') 0 0 no-repeat;
  text-indent: -9999em;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;}
.eclipse-arrow.eclipse-prev {
  left: -50px;
  transform: rotate(180deg);
}
.eclipse-arrow.eclipse-next {
  right: -50px;
}

.eclipse-controls {
  position: absolute;
  left: 50%;
  z-index: 11;
  line-height: 0;
  transform: translateX(-50%);
}

.eclipse-paging {
  float: left;
}
.eclipse-paging-button {
  width: 15px;
  height: 15px;
  margin: 0 0 0 10px;
  background: lighten($trail-primary-color, 35);
  border-radius: 50%;
  text-indent: -9999em;
}
.eclipse-paging-button:first-child {
  margin-left: 0;
}
.eclipse-paging-active {
  background: $trail-primary-color;
}

.eclipse-auto-play {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
  background: url('../images/play.png') 0 0 no-repeat;
  text-indent: -9999em;
}
.eclipse-auto-stop {
  display: none;
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
  background: url('../images/stop.png') 0 0 no-repeat;
  text-indent: -9999em;
}



/************************************
               FOOTER
************************************/

.global-footer {
  background-color: $trail-secondary-color;
  border-top: $trail-primary-color solid 5px;
  color: $font-color;
  font-family: $text-font;
  margin-right: 0;
  margin-left: 0;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));

  .embed-responsive {
    max-width: 300px;
    height: auto;
  }


  ul {
    list-style-type: none;
  }

  a {
    color: $trail-primary-color;

    .fa-facebook-square {
      padding-top: 0.7rem;
      padding-bottom: 1rem;
      font-size: 4vh;
      color: $trail-primary-color;

      &:hover {
        color: lighten($trail-primary-color, 10%);
        transition: 0.5s;
      }
    }
  }
}


/************************************
      PAGES TRAIL & TRIATHLON
************************************/

.sportpage {
  margin: 3em;

  .card {
    width: 100%;

    img {
      object-fit: contain;
      width: 100%;
    }
  }
}


/************************************
          LOGIN PAGE
************************************/

h1 {
  text-align: center;
}

.button-back-home {
  text-align: center;
}

.login-card {
  margin-left: 0px;
  margin-right: 0px;
  color: $font-color;
  font-family: $text-font;

  .card-connexion {
    margin-top: 10%;
    background-color: $font-color-light-bg;
    margin-bottom: 15%;
  }

  .card-body {
    .input-group-text {
      color: $trail-primary-color;
    }
  }

  .btn-submit {
    @extend %btn-primary;
  }

  .new-account {
    text-align: center;

    a {
      color: $font-color;
      text-decoration: none;
    }
  }
}


/************************************
       PAGE CREATE NEW COUNT
************************************/

.new-account-title {
  text-align: center;
}

.card-new-account {
  background-color: $font-color-light-bg;
  font-family: $text-font;
  color: $font-color;

  .form-control {
    border-bottom: solid 1px $trail-primary-color;
  }
}

.btn-primary {
  @extend %btn-primary;
}


/************************************
       RESET PASSWORD PAGE
************************************/

.rox-poney-password {
  margin-top: 15%;
  margin-bottom: 15%;

  .card-reset {
    background-color: $font-color-light-bg;
    color: $font-color;
  }

  p {
    text-align: center;
  }
}



/************************************
            MEMBER PAGE
************************************/

.title-member-page {
  margin-top: $marginTop;
  text-align: center;
}

.row-about-me {
  margin-bottom: $marginBottom;

  img {
    display: block;
    width: $widthMemberPersonal;
    height: $heightMemberPersonal;
    margin: 25px auto;
    border-radius: 50%;
  }

  .col-about-me-information {
    margin-top: $marginTopAboutMe;
  }

  .col-edit-information {
    text-align: center;

    .fa-edit {
      font-size: 2.5rem;
      color: $trail-primary-color;
    }

    a {
      text-decoration: none;
      color: $trail-secondary-color;
    }
  }

  .fa-images {
    font-size: 2.5rem;
    color: $trail-primary-color;
  }

  .fa-calendar-alt {
    font-size: 2.5rem;
    color: $trail-primary-color;
  }

  .fa-portrait {
    font-size: 2.5rem;
    color: $trail-primary-color;
  }

  a {
    text-decoration: none;
    color: $trail-secondary-color;
  }
}


/************************************
       MEMBER EVENTS PAGE
************************************/

.member-events {
  .events .card-body {
    .card-title {
      font-family: $text-font;
    }
  }
}



/************************************
     MEMBER EVENT TO COME PAGE
************************************/

.event-to-come .row {
  .card {
    border: none;
    margin-bottom: 10%;
    margin-top: 5%;

    img {
      box-sizing: border-box;
      border-radius: 50%;
    }

  }

  .discussion {
    .cont-messages {
      height: 500px;
      overflow-y: scroll;

      .card .card-body {
        padding: 1rem;
      }
    }
  }
}



/************************************
      LEGAL MENTIONS PAGE
************************************/

.container-legal-mention {
  background-color: $font-color-light-bg;
  color: $font-color;

  .title-legal-mentions {
    text-align: center;
    margin-top: $marginTopAboutMe;
    margin-bottom: $marginTopAboutMe;
  }

  a {
    color: $trail-primary-color;
    font-weight: bold;
  }

  p {
    text-align: center;

  }
}
