@import "~summernote/dist/summernote.css";
@import "_vars.scss";

.dropdown-menu.show {
  z-index: 10;
}

.note-editable {
  height: 20em;
}

a {
  text-decoration: none;
  color: $trail-secondary-color;
  &:hover {
    text-decoration: none;
    color: $trail-secondary-color;
  }
}

label {
  font-size: 2em;
  font-family: $title-font;
}

.note-current-color-button, .note-color-all, .note-icon-caret, .btn-fullscreen, .note-fontname {
  display: none;
}