<nav class="d-flex flex-column vh-100">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="card">
            <div></div>
            <div class="card-body">
                <a class="card-text"></a>
            </div>
        </div>
    </div>
</nav>

