<nav class="d-flex flex-column vh-100">
    <div class="row justify-content-center align-items-center vh-100">
        <ul class="navbar-nav d-flex justify-content-center align-items-center vh-100">
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">
                    <i class="fas fa-home"></i>
                    Tableau de Bord</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Page Accueil</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Galerie</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Evènements</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Commentaires</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Page Membres</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Page Produits</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Page Trail</a>
            </li>
            <li class="nav-item nav-home flex-fill">
                <a class="nav-link text-center" href="#">Page Triathlon</a>
            </li>
        </ul>
    </div>
</nav>

