{% extends 'base.html.twig' %}
{% block body %}
    {{ include ('admin/_header.html.twig', {titleHeader: 'Galerie'}) }}
    {{ include ('admin/_navbar.html.twig') }}

    <section class="body-page-home col-10 d-flex flex-column float-right mr-md-3">
        <div class="contents container d-flex flex-column flex-md-row justify-content-md-around pt-5">
            <div class="logo-gallery col-11 col-md-6 pt-4 d-flex flex-wrap">
                {% for image in galery %}
                    <div class="card card-img col-11 col-sm-4 col-lg-3 p-1 position-relative">
                        <img src="{{ image.url }}" class="card-img-top" alt="{{ image.alt }}.">
                        <span class="position-absolute"><a href="#" class="js-delete-sponsor" data-url=""><i class="fas fa-trash-alt"></i></a></span>
                    </div>
                {% endfor %}
            </div>
            <div class="cont-form-logo col-11 col-md-4 pt-4">
                <div class="form-logo"></div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}{% endblock %}