{% extends 'base.html.twig' %}

{% block title %}Le triathlon - GTB{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    {{ include ('home/_jumbotron.html.twig') }}
    <section class="sportpage justify-content-center">
        <div class="container">
            <h2 class="text-center">Le Triathlon</h2>
            <div class="text">
                {{ association.triathloncontent|raw }}
            </div>
        </div>
    </section>
    {% include '_footer.html.twig' %}
{% endblock %}