
<section class="row footer">
    <div class="col-4 address-footer">
        <div class="row justify-content-center">
            Génération Trail et Triathlon Blois
        </div>
        <div class="row justify-content-center">
            11 Rue Denis Dupont
            41 000 Blois
        </div>
            <div class="row justify-content-center">
            06.03.02.26.09
            </div>
            <div class="row justify-content-center">
                generationtrailblois@hotmail.fr
            </div>
    </div>
    <div class="col-4 image-footer">
        <div class="row justify-content-center">
            <img class="logo-footer" src="{{ asset('build/images/logo.png') }}" alt="logo-generation-trail-blois">
        </div>
        <div class="row justify-content-center">
            <a href="https://www.facebook.com/GenerationTrailTriathlonBlois/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="row justify-content-center">
            Tous droits révervés  <i class="far fa-copyright"></i>
        </div>

    </div>
    <div class="col-4 hours-footer">
        <h6>Jours d'entrainement :</h6>
        <ul>
            <li>Mardi</li>
            <li>Jeudi</li>
            <li>Vendredi</li>
            <li>Samedi et Dimanche (facultatifs)</li>
        </ul>
    </div>
</section>