<section class="sponsors container">
    <div class="row justify-content-center">
        <div class="title-cont col-12">
            <h2 class="text-center">Nos Partenaires</h2>
            <hr class="border border-sponsors">
        </div>
    </div>
    <div class="sponsor-carousel text-center">
        <div id="sponsorCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#sponsorCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#sponsorCarousel" data-slide-to="1"></li>
                <li data-target="#sponsorCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for sponsor in sponsors %}
                    {% if loop.index0 % 4 == 0 %}
                        <div class="carousel-item {{ loop.first ? 'active' }}">
                    {% endif %}
                        <img src="{{ asset('uploads/images/sponsors/' ~ sponsor.imageName) }}" class="mt-1"
                             alt="{{ sponsor.name }}">
                    {% if loop.index0 % 4 == 3 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#sponsorCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#sponsorCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
