<section class="sponsors container">
    <div class="row justify-content-center">
        <div class="title-cont col-12">
            <h2 class="text-center">Nos Partenaires</h2>
            <hr class="border border-sponsors">
        </div>
    </div>
    <div class="col-11 m-auto">
        <div id="eclipse5">
            <div class="eclipse-slider">
                {% for sponsor in sponsors %}
                    <div>
                        <img class="card-img-top"
                             src="{{ asset('uploads/images/sponsors/' ~ sponsor.imageName) }}"
                             alt="{{ sponsor.name }}-id-{{ sponsor.id }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
