<section class="container sponsors">
    <div class="row">
        <div class="title-cont col-12">
            <h2 class="text-center">Nos Partenaires</h2>
            <hr class="border border-sponsors">
        </div>
        <div class="row flex-row flex-wrap justify-content-center mt-5 col-12">
            {% for sponsor in sponsors %}
                <div class="card col-4 col-sm-3 col-lg-2 p-lg-3 m-3">
                    <a target="_blanket" href="{{ sponsor.site }}"><img class="card-img-top" src="{{ sponsor.logoUrl }}" alt="{{ sponsor.name }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
