{% extends 'base.html.twig' %}

{% block title %}Le club - GTB{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    {{ include ('home/_jumbotron.html.twig') }}
    <section class="sportpage justify-content-center">
        <div class="container">
            <h2 class="text-center">Le Club</h2>
            <div class="text">
                {{ association.clubhome|raw }}
            </div>
        </div>
    </section>
    <section class="sportpage justify-content-center">
        <div class="container">
        <h2  class="text-center">Les membres et l'equipe</h2>
        <p  class="text-center">ici viendra s'ajouter le thrombinoscope du club une fois l'us user finie</p>
        </div>
    </section>
    {% include '_footer.html.twig' %}
{% endblock %}
