{% extends 'base.html.twig' %}

{% block title %}Le club - GTB{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    {{ include ('home/_jumbotron.html.twig') }}
    <section class="sportpage justify-content-center">
        <div class="container">
            <h1 class="text-center">LE CLUB</h1>
            <div class="text">
                {% if association.clubcontent is defined %}
                {{ association.clubcontent|raw }}
                {% else %}
                <p class="text-center">La page est en cours de contruction</p>
                {% endif %}
            </div>
        </div>
    </section>
    {% include '_footer.html.twig' %}
{% endblock %}
