{% extends 'base.html.twig' %}

{% block title %}Galerie - GTB{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    {% include 'home/_jumbotron.html.twig' %}
    <h1 class="text-center mt-5">Galerie</h1>
    <div class="homepage-images flex-row text-center mb-5">
        <div class="row homepage-picture no-gutters">
            {% for picture in galery %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ">
                    <img src="{{ asset('uploads/images/gallery/' ~ picture.imageName) }}" alt="{{ picture.alt }}">
                </div>
            {% endfor %}
        </div>

        <div class="row btn-homepage-picture mt-5">
            <div class="col">
                <a href="{{ path('home') }}" class="mb-5 btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Retour à l'accueil</a>
            </div>
        </div>

    </div>
    {% include '_footer.html.twig' %}
{% endblock %}
