{% extends 'base.html.twig' %}

{% block title %}Éditer mon compte - GTB{% endblock %}

{% block body %}

    <h1>ÉDITER MON COMPTE</h1>


            {{ include('user/_form.html.twig', {'button_label': 'Mettre à  jour'}) }}

            <a href="{{ path('member_page', {'id': user.id}) }}" class="btn btn-primary">Retour vers mon profil</a>


{% endblock %}
